html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(255, 247, 170), rgb(216, 208, 99));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.center {
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-collapse: separate;
}

.divc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: auto;
}

#jugador1 {
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    color: rgb(255, 155, 155);
}

#jugador2 {
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    color: rgb(155, 170, 253);
}

.carta {
    background-color: white;
    border: 2px groove gray;
    border-radius: 5px;
    height: 250px;
    width: 170px;
	margin: 0 auto;
}

#botonJugar {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

#botonJugar:hover {
    background-color: rgb(34, 97, 38);
    color: white;
}

#victoria {
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    color: rgb(86, 226, 86);
}

#resultado1, #suma1, #resultado2, #suma2{
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 2px 0 lightgray, 0 -1px lightgray;
    color: black;
}

.contenido{
    height: 100%;
    width: 100%;

}